@model IEnumerable<Entities.OfferView>

@{
    ViewData["Title"] = "Index";
}

<h1>Offers</h1>

@if (ViewContext.HttpContext.User.IsInRole("admin"))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Offer_Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Offer_Time)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Officiant_Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Client_Id)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Offer_Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Offer_Time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Officiant_Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Client_Id)
            </td>
            <td class="own-controllers">
                @if (ViewContext.HttpContext.User.IsInRole("admin"))
                {
                    @Html.ActionLink("Edit", "Edit", new { id = item.Offer_Id })     
                }
                @if (ViewContext.HttpContext.User.IsInRole("admin"))
                {
                    @Html.ActionLink("Delete", "Delete", new { id = item.Offer_Id })       
                }
            </td>
        </tr>
}
    </tbody>
</table>
